<header>
	<div class="page-header">
        	<a href="http://www.osu.edu" title="The Ohio State University"><img src="https://d33wubrfki0l68.cloudfront.net/0c2f9a1488240728f8d2c98cc891b2242a2cde70/09992/images/2013_masthead/osu-32px-horiz.png" alt="OSU Logo"></a><br>
   		<h1>CSE 3901: Web Applications</h1>
    		Ruby 1 Foundations
	</div>
</header>

<div class ="navbar">
    <ul class="navbar-content">
    <li class="nav-item"><a href="home.html">Ruby Basics</a></li>
    <li class="nav-item"><a href="types.html">Variables and Types</a></li>
    <li class="nav-item"><a href="loops.html">Loops, Blocks, Functions</a></li>
    <li class="nav-item"><a href="oop.html">OOP Concepts</a></li>
    </ul>
</div>
