<footer>
    <div class="footer">
        This page is maintained by:
        <%= link_to("Department of Computer Science and Engineering", "https://cse.osu.edu/") %><br>
        395 Dreese Lab, 2015 Neil Avenue, Columbus, OH 43210, Phone: (614) 292-5813 / Fax: (614) 292-2911<br>
        If you have trouble accessing this page and need to request an alternate format, contact <%= link_to("webmaster@cse.ohio-state.edu", "mailto:webmaster@cse.ohio-state.edu") %>.
    </div>
</footer>
